/*Estilo para seccion de información de misión, visión y valores */

.info-section {
    margin-bottom: 40px;

    &:first-of-type {
        margin-top: 40px;
    }

    .col-md-6 {
        text-align: justify;
    }

    img {
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
